<!DOCTYPE HTML>
<!--
	Latitude by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--#include virtual="/floyd/assets/includes/header-config.txt" -->
  <title>Floyd County KY: </title>
</head>
<body class="is-preload">

  <div id="page-wrapper">
    <!-- Header -->
    <header id="header">
      <!--#include virtual="/floyd/assets/includes/navigation.html" -->
    </header>
    <!-- Main -->
    <section id="main" class="wrapper style2">
      <header class="major">
        <h2>Left Sidebar</h2>
        <p>Ante aliquet amet posuere ac cubilia, faucibus neque adipiscing.</p>
      </header>

      <div class="container">

        <div class="row">
          <!-- START SIDEBAR -->
          <!-- Sidebar -->

          <div class="col-4 col-12-narrow">
            <section id="sidebar">
              <section>
                <h3>Heading</h3>
                <p>text.</p>
                <footer>
                  <ul class="actions">
                    <li><a href="#" class="button">Learn More</a></li>
                  </ul>
                </footer>
              </section>
              <hr />
              <section>
                <a href="#" class="image fit"><img src="images/pic03.jpg" alt="pic" /></a>
                <h3>Heading</h3>
                <p>text.</p>
                <footer>
                  <ul class="actions">
                    <li><a href="#" class="button">Learn More</a></li>
                  </ul>
                </footer>
              </section>
            </section>
          </div> <!-- End Sidebar Div -->
          <!-- START CONTENT -->
          <!-- Content -->

          <div class="col-8 col-12-narrow imp-narrow">
            <section id="content">
              <a href="#" class="image fit"><img src="images/pic04.jpg" alt="section head" /></a>
              <h3>Heading</h3>
              <p>Content</p>
            </section>
          </div>
        </div>
        <!--End Row Div -->
        <!-- Extra -->
        <!--#include virtual="assets/includes/extra-footer.html" -->
      </div>
      <!--End Class Container -->
    </section>
    <!--End Main SEction -->
    <!-- Footer begins here -->
    <!--#include virtual="assets/includes/footer.html" -->
    <!-- Footer ends here -->
  </div>
</body>
</html>