<!DOCTYPE HTML>
<!--
	Latitude by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <title>Untitled</title>
</head>


<body class="is-preload">

    <div id="page-wrapper">
    <!-- Header -->
    <header id="header">
      <!--#include virtual="/floyd/assets/includes/navigation.html" -->
    </header>
    
        <!-- Main -->
        <section id="main" class="wrapper style2">
            <header class="major">
                <h2>Right Sidebar</h2>
                <p>Ante aliquet amet posuere ac cubilia, faucibus neque adipiscing.</p>
            </header>

            <div class="container">

                <div class="row">

                    <div class="col-8 col-12-narrow">
                        <!-- Start Content -->
                        <section id="content">
                            <a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a>
                            <h3>Dolore Amet Consequat</h3>
                            
                            <!--   -->
                            
                        </section>
                    </div><!-- End Main Content -->

                    <div class="col-4 col-12-narrow">
                        <!-- Sidebar -->
                        <section id="sidebar">
                            <section>
                                <h3>Sidebar Top</h3>
                                <p>Sidebar text</p>
                                <footer>
                                    <ul class="actions">
                                        <li><a href="#" class="button">Learn More</a></li>
                                    </ul>
                                </footer>
                            </section>
                            <hr />
                            <section>
                                <a href="#" class="image fit"><img src="images/pic03.jpg" alt="artwork" /></a>
                                <h3>Sidebar Bottom</h3>
                                <p>Text</p>
                                <footer>
                                    <ul class="actions">
                                        <li><a href="#" class="button">Learn More</a></li>
                                    </ul>
                                </footer>
                            </section>
                        </section>
                    </div> <!-- End Sidebar -->
                </div> <!-- End Row -->
                <!-- Extra -->
               <!--#include virtual="assets/includes/extra-footer.html" -->
            </div> <!-- End Container -->
        </section> <!-- End Main Wrapper -->
        <!-- Footer -->
        <!-- Footer begins here -->
    <!--#include virtual="assets/includes/footer.html" -->
    <!-- Footer ends here -->
    </div>

</body>
</html>